# Java
*.class

# Build
/build
.externalNativeBuild
.cxx

# Build webextensions
*.xpi

# Gradle
*.iml
.gradle
/local.properties
#gradle/
#gradlew
#gradlew.bat
#gradle.properties

# IDE
/.idea
.DS_Store
/captures

